body {
  margin: auto;
  max-width: 180ch;
  padding: 1ch 2ch;
}

.top-hero{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20ch;
  margin-bottom: 10ch;
  margin-top: 10ch;

}
table{
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  border-style: dashed;
}

table th, table td {
  text-align: center;
  padding: 8px;
  border: 1px solid #ddd;
}

.tables-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:1px
}

.projects-card-container{
  display: flex;
  flex-direction: row;

}


.project-card {
  border: 1px solid #ccc;
  margin: 7px;
  padding: 7px;
}

.project-card div {
  margin-bottom: 7px;

}

.project-card-title{
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.project-card-description{
  font-size: 1rem;
  text-align: justify;
}

.project-card-tech{
  font-size: 1rem;
  text-align: justify;
}

.project-card-link{
  text-align: center;
  border: solid 1px #ccc;
}

.footer{
  margin-top: 50px;
  text-align: center;
}